{
  "openapi": "3.1.0",
  "info": {
    "title": "WholesaleSystem",
    "description": "\n",
    "contact": {},
    "version": "1.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.synergywholesale.com:443",
      "variables": {}
    }
  ],
  "paths": {
    "/server.php": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "hostingGetService",
        "description": "Will retrieve the information associated with the hoid",
        "operationId": "hostingGetService",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "const": "text/xml; charset=utf-8",
              "type": "string",
              "examples": [
                "text/xml; charset=utf-8"
              ]
            }
          },
          {
            "name": "SOAPAction",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "urn:WholesaleSystem#hostingGetService"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/xml": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Envelope"
                  },
                  {
                    "xml": {
                      "name": "Envelope",
                      "attribute": false,
                      "wrapped": false
                    },
                    "examples": [
                      "<Envelope>\r\n  <soap:Body xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\r\n    <hostingGetService>\r\n      <hostingGetServiceRequest>\r\n        <resellerID>string</resellerID>\r\n        <apiKey>string</apiKey>\r\n        <identifier>string</identifier>\r\n        <hoid>string</hoid>\r\n      </hostingGetServiceRequest>\r\n    </hostingGetService>\r\n  </soap:Body>\r\n</Envelope>"
                    ]
                  }
                ],
                "contentMediaType": "application/xml"
              },
              "example": "<Envelope>\r\n  <soap:Body xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\r\n    <hostingGetService>\r\n      <hostingGetServiceRequest>\r\n        <resellerID>string</resellerID>\r\n        <apiKey>string</apiKey>\r\n        <identifier>string</identifier>\r\n        <hoid>string</hoid>\r\n      </hostingGetServiceRequest>\r\n    </hostingGetService>\r\n  </soap:Body>\r\n</Envelope>"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "text/xml; charset=utf-8": {
                "schema": {
                  "type": "string",
                  "xml": {
                    "name": "hostingGetServiceresponse",
                    "attribute": false,
                    "wrapped": false
                  },
                  "contentMediaType": "text/xml; charset=utf-8"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Envelope": {
        "title": "Envelope",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body": {
        "title": "Body",
        "required": [
          "hostingGetService"
        ],
        "type": "object",
        "properties": {
          "hostingGetService": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingGetService"
              },
              {
                "xml": {
                  "name": "hostingGetService",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingGetService": {
        "title": "hostingGetService",
        "required": [
          "hostingGetServiceRequest"
        ],
        "type": "object",
        "properties": {
          "hostingGetServiceRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingGetServiceRequest"
              },
              {
                "xml": {
                  "name": "hostingGetServiceRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingGetService",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingGetServiceRequest": {
        "title": "hostingGetServiceRequest",
        "required": [
          "resellerID",
          "apiKey",
          "identifier",
          "hoid"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "identifier": {
            "type": "string",
            "xml": {
              "name": "identifier",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "hoid": {
            "type": "string",
            "xml": {
              "name": "hoid",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingGetServiceRequest",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope1": {
        "title": "Envelope1",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body1"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body1": {
        "title": "Body1",
        "required": [
          "hostingRecreateService"
        ],
        "type": "object",
        "properties": {
          "hostingRecreateService": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingRecreateService"
              },
              {
                "xml": {
                  "name": "hostingRecreateService",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingRecreateService": {
        "title": "hostingRecreateService",
        "required": [
          "hostingRecreateServiceRequest"
        ],
        "type": "object",
        "properties": {
          "hostingRecreateServiceRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingRecreateServiceRequest"
              },
              {
                "xml": {
                  "name": "hostingRecreateServiceRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingRecreateService",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingRecreateServiceRequest": {
        "title": "hostingRecreateServiceRequest",
        "required": [
          "resellerID",
          "apiKey",
          "hoid",
          "newPassword",
          "api_method",
          "whmcs_ver",
          "whmcs_mod_ver"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "hoid": {
            "type": "string",
            "xml": {
              "name": "hoid",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "newPassword": {
            "type": "string",
            "xml": {
              "name": "newPassword",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "api_method": {
            "type": "string",
            "xml": {
              "name": "api_method",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "whmcs_ver": {
            "type": "string",
            "xml": {
              "name": "whmcs_ver",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "whmcs_mod_ver": {
            "type": "string",
            "xml": {
              "name": "whmcs_mod_ver",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingRecreateServiceRequest",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope2": {
        "title": "Envelope2",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body2"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body2": {
        "title": "Body2",
        "required": [
          "hostingRecreateServiceResponse"
        ],
        "type": "object",
        "properties": {
          "hostingRecreateServiceResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingRecreateServiceResponse"
              },
              {
                "xml": {
                  "name": "hostingRecreateServiceResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingRecreateServiceResponse": {
        "title": "hostingRecreateServiceResponse",
        "required": [
          "hostingRecreateServiceResponse"
        ],
        "type": "object",
        "properties": {
          "hostingRecreateServiceResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingRecreateServiceResponse1"
              },
              {
                "xml": {
                  "name": "hostingRecreateServiceResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingRecreateServiceResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingRecreateServiceResponse1": {
        "title": "hostingRecreateServiceResponse1",
        "required": [
          "status",
          "errorMessage",
          "password"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "xml": {
              "name": "status",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "errorMessage": {
            "type": "string",
            "xml": {
              "name": "errorMessage",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "password": {
            "type": "string",
            "xml": {
              "name": "password",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingRecreateServiceResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope3": {
        "title": "Envelope3",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body3"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body3": {
        "title": "Body3",
        "required": [
          "hostingTerminateService"
        ],
        "type": "object",
        "properties": {
          "hostingTerminateService": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingTerminateService"
              },
              {
                "xml": {
                  "name": "hostingTerminateService",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingTerminateService": {
        "title": "hostingTerminateService",
        "required": [
          "hostingTerminateServiceRequest"
        ],
        "type": "object",
        "properties": {
          "hostingTerminateServiceRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingTerminateServiceRequest"
              },
              {
                "xml": {
                  "name": "hostingTerminateServiceRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingTerminateService",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingTerminateServiceRequest": {
        "title": "hostingTerminateServiceRequest",
        "required": [
          "resellerID",
          "apiKey",
          "identifier",
          "hoid"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "identifier": {
            "type": "string",
            "xml": {
              "name": "identifier",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "hoid": {
            "type": "string",
            "xml": {
              "name": "hoid",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingTerminateServiceRequest",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope4": {
        "title": "Envelope4",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body4"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body4": {
        "title": "Body4",
        "required": [
          "hostingTerminateServiceResponse"
        ],
        "type": "object",
        "properties": {
          "hostingTerminateServiceResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingTerminateServiceResponse"
              },
              {
                "xml": {
                  "name": "hostingTerminateServiceResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingTerminateServiceResponse": {
        "title": "hostingTerminateServiceResponse",
        "required": [
          "hostingTerminateServiceResponse"
        ],
        "type": "object",
        "properties": {
          "hostingTerminateServiceResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingTerminateServiceResponse1"
              },
              {
                "xml": {
                  "name": "hostingTerminateServiceResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingTerminateServiceResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingTerminateServiceResponse1": {
        "title": "hostingTerminateServiceResponse1",
        "required": [
          "status",
          "errorMessage"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "xml": {
              "name": "status",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "errorMessage": {
            "type": "string",
            "xml": {
              "name": "errorMessage",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingTerminateServiceResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope5": {
        "title": "Envelope5",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body5"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body5": {
        "title": "Body5",
        "required": [
          "hostingPurchaseService"
        ],
        "type": "object",
        "properties": {
          "hostingPurchaseService": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingPurchaseService"
              },
              {
                "xml": {
                  "name": "hostingPurchaseService",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingPurchaseService": {
        "title": "hostingPurchaseService",
        "required": [
          "hostingPurchaseServiceRequest"
        ],
        "type": "object",
        "properties": {
          "hostingPurchaseServiceRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingPurchaseServiceRequest"
              },
              {
                "xml": {
                  "name": "hostingPurchaseServiceRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingPurchaseService",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingPurchaseServiceRequest": {
        "title": "hostingPurchaseServiceRequest",
        "required": [
          "resellerID",
          "apiKey",
          "planName",
          "domain",
          "email",
          "username",
          "password",
          "first_name",
          "last_name"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "planName": {
            "type": "string",
            "xml": {
              "name": "planName",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "domain": {
            "type": "string",
            "xml": {
              "name": "domain",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "email": {
            "type": "string",
            "xml": {
              "name": "email",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "username": {
            "type": "string",
            "xml": {
              "name": "username",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "password": {
            "type": "string",
            "xml": {
              "name": "password",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "first_name": {
            "type": "string",
            "xml": {
              "name": "first_name",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "last_name": {
            "type": "string",
            "xml": {
              "name": "last_name",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingPurchaseServiceRequest",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope6": {
        "title": "Envelope6",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body6"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body6": {
        "title": "Body6",
        "required": [
          "hostingPurchaseServiceResponse"
        ],
        "type": "object",
        "properties": {
          "hostingPurchaseServiceResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingPurchaseServiceResponse"
              },
              {
                "xml": {
                  "name": "hostingPurchaseServiceResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingPurchaseServiceResponse": {
        "title": "hostingPurchaseServiceResponse",
        "required": [
          "hostingPurchaseServiceResponse"
        ],
        "type": "object",
        "properties": {
          "hostingPurchaseServiceResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingPurchaseServiceResponse1"
              },
              {
                "xml": {
                  "name": "hostingPurchaseServiceResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingPurchaseServiceResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingPurchaseServiceResponse1": {
        "title": "hostingPurchaseServiceResponse1",
        "required": [
          "status",
          "errorMessage",
          "username",
          "domain",
          "password",
          "hoid"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "xml": {
              "name": "status",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "errorMessage": {
            "type": "string",
            "xml": {
              "name": "errorMessage",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "username": {
            "type": "string",
            "xml": {
              "name": "username",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "domain": {
            "type": "string",
            "xml": {
              "name": "domain",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "password": {
            "type": "string",
            "xml": {
              "name": "password",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "hoid": {
            "type": "string",
            "xml": {
              "name": "hoid",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingPurchaseServiceResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope7": {
        "title": "Envelope7",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body7"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body7": {
        "title": "Body7",
        "required": [
          "hostingChangePackage"
        ],
        "type": "object",
        "properties": {
          "hostingChangePackage": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingChangePackage"
              },
              {
                "xml": {
                  "name": "hostingChangePackage",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingChangePackage": {
        "title": "hostingChangePackage",
        "required": [
          "hostingChangePackageRequest"
        ],
        "type": "object",
        "properties": {
          "hostingChangePackageRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingChangePackageRequest"
              },
              {
                "xml": {
                  "name": "hostingChangePackageRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingChangePackage",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingChangePackageRequest": {
        "title": "hostingChangePackageRequest",
        "required": [
          "resellerID",
          "apiKey",
          "identifier",
          "newPlanName",
          "hoid"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "identifier": {
            "type": "string",
            "xml": {
              "name": "identifier",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "newPlanName": {
            "type": "string",
            "xml": {
              "name": "newPlanName",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "hoid": {
            "type": "string",
            "xml": {
              "name": "hoid",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingChangePackageRequest",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope8": {
        "title": "Envelope8",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body8"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body8": {
        "title": "Body8",
        "required": [
          "hostingChangePackageResponse"
        ],
        "type": "object",
        "properties": {
          "hostingChangePackageResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingChangePackageResponse"
              },
              {
                "xml": {
                  "name": "hostingChangePackageResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingChangePackageResponse": {
        "title": "hostingChangePackageResponse",
        "required": [
          "hostingChangePackageResponse"
        ],
        "type": "object",
        "properties": {
          "hostingChangePackageResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingChangePackageResponse1"
              },
              {
                "xml": {
                  "name": "hostingChangePackageResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingChangePackageResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingChangePackageResponse1": {
        "title": "hostingChangePackageResponse1",
        "required": [
          "status",
          "errorMessage",
          "newAmount"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "xml": {
              "name": "status",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "errorMessage": {
            "type": "string",
            "xml": {
              "name": "errorMessage",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "newAmount": {
            "type": "string",
            "xml": {
              "name": "newAmount",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingChangePackageResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope9": {
        "title": "Envelope9",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body9"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body9": {
        "title": "Body9",
        "required": [
          "hostingChangePassword"
        ],
        "type": "object",
        "properties": {
          "hostingChangePassword": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingChangePassword"
              },
              {
                "xml": {
                  "name": "hostingChangePassword",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingChangePassword": {
        "title": "hostingChangePassword",
        "required": [
          "hostingChangePasswordRequest"
        ],
        "type": "object",
        "properties": {
          "hostingChangePasswordRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingChangePasswordRequest"
              },
              {
                "xml": {
                  "name": "hostingChangePasswordRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingChangePassword",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingChangePasswordRequest": {
        "title": "hostingChangePasswordRequest",
        "required": [
          "resellerID",
          "apiKey",
          "identifier",
          "newPassword",
          "hoid"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "identifier": {
            "type": "string",
            "xml": {
              "name": "identifier",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "newPassword": {
            "type": "string",
            "xml": {
              "name": "newPassword",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "hoid": {
            "type": "string",
            "xml": {
              "name": "hoid",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingChangePasswordRequest",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope10": {
        "title": "Envelope10",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body10"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body10": {
        "title": "Body10",
        "required": [
          "hostingChangePasswordResponse"
        ],
        "type": "object",
        "properties": {
          "hostingChangePasswordResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingChangePasswordResponse"
              },
              {
                "xml": {
                  "name": "hostingChangePasswordResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingChangePasswordResponse": {
        "title": "hostingChangePasswordResponse",
        "required": [
          "hostingChangePasswordResponse"
        ],
        "type": "object",
        "properties": {
          "hostingChangePasswordResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingChangePasswordResponse1"
              },
              {
                "xml": {
                  "name": "hostingChangePasswordResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingChangePasswordResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingChangePasswordResponse1": {
        "title": "hostingChangePasswordResponse1",
        "required": [
          "status",
          "errorMessage",
          "password"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "xml": {
              "name": "status",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "errorMessage": {
            "type": "string",
            "xml": {
              "name": "errorMessage",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "password": {
            "type": "string",
            "xml": {
              "name": "password",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingChangePasswordResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope11": {
        "title": "Envelope11",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body11"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body11": {
        "title": "Body11",
        "required": [
          "hostingSuspendService"
        ],
        "type": "object",
        "properties": {
          "hostingSuspendService": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingSuspendService"
              },
              {
                "xml": {
                  "name": "hostingSuspendService",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingSuspendService": {
        "title": "hostingSuspendService",
        "required": [
          "hostingSuspendServiceRequest"
        ],
        "type": "object",
        "properties": {
          "hostingSuspendServiceRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingSuspendServiceRequest"
              },
              {
                "xml": {
                  "name": "hostingSuspendServiceRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingSuspendService",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingSuspendServiceRequest": {
        "title": "hostingSuspendServiceRequest",
        "required": [
          "resellerID",
          "apiKey",
          "reason",
          "identifier",
          "hoid"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "reason": {
            "type": "string",
            "xml": {
              "name": "reason",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "identifier": {
            "type": "string",
            "xml": {
              "name": "identifier",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "hoid": {
            "type": "string",
            "xml": {
              "name": "hoid",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingSuspendServiceRequest",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope12": {
        "title": "Envelope12",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body12"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body12": {
        "title": "Body12",
        "required": [
          "hostingSuspendServiceResponse"
        ],
        "type": "object",
        "properties": {
          "hostingSuspendServiceResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingSuspendServiceResponse"
              },
              {
                "xml": {
                  "name": "hostingSuspendServiceResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingSuspendServiceResponse": {
        "title": "hostingSuspendServiceResponse",
        "required": [
          "hostingSuspendServiceResponse"
        ],
        "type": "object",
        "properties": {
          "hostingSuspendServiceResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingSuspendServiceResponse1"
              },
              {
                "xml": {
                  "name": "hostingSuspendServiceResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingSuspendServiceResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingSuspendServiceResponse1": {
        "title": "hostingSuspendServiceResponse1",
        "required": [
          "status",
          "errorMessage"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "xml": {
              "name": "status",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "errorMessage": {
            "type": "string",
            "xml": {
              "name": "errorMessage",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingSuspendServiceResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope13": {
        "title": "Envelope13",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body13"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body13": {
        "title": "Body13",
        "required": [
          "hostingUnsuspendService"
        ],
        "type": "object",
        "properties": {
          "hostingUnsuspendService": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingUnsuspendService"
              },
              {
                "xml": {
                  "name": "hostingUnsuspendService",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingUnsuspendService": {
        "title": "hostingUnsuspendService",
        "required": [
          "hostingUnsuspendServiceRequest"
        ],
        "type": "object",
        "properties": {
          "hostingUnsuspendServiceRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingUnsuspendServiceRequest"
              },
              {
                "xml": {
                  "name": "hostingUnsuspendServiceRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingUnsuspendService",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingUnsuspendServiceRequest": {
        "title": "hostingUnsuspendServiceRequest",
        "required": [
          "resellerID",
          "apiKey",
          "identifier",
          "hoid"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "identifier": {
            "type": "string",
            "xml": {
              "name": "identifier",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "hoid": {
            "type": "string",
            "xml": {
              "name": "hoid",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingUnsuspendServiceRequest",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope14": {
        "title": "Envelope14",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body14"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body14": {
        "title": "Body14",
        "required": [
          "hostingUnsuspendServiceResponse"
        ],
        "type": "object",
        "properties": {
          "hostingUnsuspendServiceResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingUnsuspendServiceResponse"
              },
              {
                "xml": {
                  "name": "hostingUnsuspendServiceResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingUnsuspendServiceResponse": {
        "title": "hostingUnsuspendServiceResponse",
        "required": [
          "hostingUnsuspendServiceResponse"
        ],
        "type": "object",
        "properties": {
          "hostingUnsuspendServiceResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingUnsuspendServiceResponse1"
              },
              {
                "xml": {
                  "name": "hostingUnsuspendServiceResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingUnsuspendServiceResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingUnsuspendServiceResponse1": {
        "title": "hostingUnsuspendServiceResponse1",
        "required": [
          "status",
          "errorMessage"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "xml": {
              "name": "status",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "errorMessage": {
            "type": "string",
            "xml": {
              "name": "errorMessage",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingUnsuspendServiceResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope15": {
        "title": "Envelope15",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body15"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body15": {
        "title": "Body15",
        "required": [
          "hostingListPackages"
        ],
        "type": "object",
        "properties": {
          "hostingListPackages": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingListPackages"
              },
              {
                "xml": {
                  "name": "hostingListPackages",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingListPackages": {
        "title": "hostingListPackages",
        "required": [
          "hostingListPackagesRequest"
        ],
        "type": "object",
        "properties": {
          "hostingListPackagesRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingListPackagesRequest"
              },
              {
                "xml": {
                  "name": "hostingListPackagesRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingListPackages",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingListPackagesRequest": {
        "title": "hostingListPackagesRequest",
        "required": [
          "resellerID",
          "apiKey",
          "product"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "product": {
            "type": "string",
            "xml": {
              "name": "product",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingListPackagesRequest",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope16": {
        "title": "Envelope16",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body16"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body16": {
        "title": "Body16",
        "required": [
          "hostingGetLogin"
        ],
        "type": "object",
        "properties": {
          "hostingGetLogin": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingGetLogin"
              },
              {
                "xml": {
                  "name": "hostingGetLogin",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingGetLogin": {
        "title": "hostingGetLogin",
        "required": [
          "hostingGetServiceRequest"
        ],
        "type": "object",
        "properties": {
          "hostingGetServiceRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingGetServiceRequest"
              },
              {
                "xml": {
                  "name": "hostingGetServiceRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingGetLogin",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope17": {
        "title": "Envelope17",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body17"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body17": {
        "title": "Body17",
        "required": [
          "hostingGetLoginResponse"
        ],
        "type": "object",
        "properties": {
          "hostingGetLoginResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingGetLoginResponse"
              },
              {
                "xml": {
                  "name": "hostingGetLoginResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingGetLoginResponse": {
        "title": "hostingGetLoginResponse",
        "required": [
          "hostingGetLoginResponse"
        ],
        "type": "object",
        "properties": {
          "hostingGetLoginResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hostingGetLoginResponse1"
              },
              {
                "xml": {
                  "name": "hostingGetLoginResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "hostingGetLoginResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "hostingGetLoginResponse1": {
        "title": "hostingGetLoginResponse1",
        "required": [
          "status",
          "errorMessage",
          "url"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "xml": {
              "name": "status",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "errorMessage": {
            "type": "string",
            "xml": {
              "name": "errorMessage",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "url": {
            "type": "string",
            "xml": {
              "name": "url",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "hostingGetLoginResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope18": {
        "title": "Envelope18",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body18"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body18": {
        "title": "Body18",
        "required": [
          "businessCheckRegistration"
        ],
        "type": "object",
        "properties": {
          "businessCheckRegistration": {
            "allOf": [
              {
                "$ref": "#/components/schemas/businessCheckRegistration"
              },
              {
                "xml": {
                  "name": "businessCheckRegistration",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "businessCheckRegistration": {
        "title": "businessCheckRegistration",
        "required": [
          "businessCheckRegistrationRequest"
        ],
        "type": "object",
        "properties": {
          "businessCheckRegistrationRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/businessCheckRegistrationRequest"
              },
              {
                "xml": {
                  "name": "businessCheckRegistrationRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "businessCheckRegistration",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "businessCheckRegistrationRequest": {
        "title": "businessCheckRegistrationRequest",
        "required": [
          "resellerID",
          "apiKey",
          "registrationNumber",
          "registrationState"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "registrationNumber": {
            "type": "string",
            "xml": {
              "name": "registrationNumber",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "registrationState": {
            "type": "string",
            "xml": {
              "name": "registrationState",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "businessCheckRegistrationRequest",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope19": {
        "title": "Envelope19",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body19"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body19": {
        "title": "Body19",
        "required": [
          "businessCheckRegistrationResponse"
        ],
        "type": "object",
        "properties": {
          "businessCheckRegistrationResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/businessCheckRegistrationResponse"
              },
              {
                "xml": {
                  "name": "businessCheckRegistrationResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "businessCheckRegistrationResponse": {
        "title": "businessCheckRegistrationResponse",
        "required": [
          "businessCheckRegistrationResponse"
        ],
        "type": "object",
        "properties": {
          "businessCheckRegistrationResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/businessCheckRegistrationResponse1"
              },
              {
                "xml": {
                  "name": "businessCheckRegistrationResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "businessCheckRegistrationResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "businessCheckRegistrationResponse1": {
        "title": "businessCheckRegistrationResponse1",
        "required": [
          "status",
          "errorMessage",
          "registrationNumber",
          "registrationState",
          "entityStatus",
          "asicNumber",
          "entityName",
          "entityTypeCode",
          "tradingName",
          "legalName",
          "organisationType",
          "state",
          "postcode"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "xml": {
              "name": "status",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "errorMessage": {
            "type": "string",
            "xml": {
              "name": "errorMessage",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "registrationNumber": {
            "type": "string",
            "xml": {
              "name": "registrationNumber",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "registrationState": {
            "type": "string",
            "xml": {
              "name": "registrationState",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "entityStatus": {
            "type": "string",
            "xml": {
              "name": "entityStatus",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "asicNumber": {
            "type": "string",
            "xml": {
              "name": "asicNumber",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "entityName": {
            "type": "string",
            "xml": {
              "name": "entityName",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "entityTypeCode": {
            "type": "string",
            "xml": {
              "name": "entityTypeCode",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "tradingName": {
            "type": "string",
            "xml": {
              "name": "tradingName",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "legalName": {
            "type": "string",
            "xml": {
              "name": "legalName",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "organisationType": {
            "type": "string",
            "xml": {
              "name": "organisationType",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "state": {
            "type": "string",
            "xml": {
              "name": "state",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "postcode": {
            "type": "string",
            "xml": {
              "name": "postcode",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "businessCheckRegistrationResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope20": {
        "title": "Envelope20",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body20"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body20": {
        "title": "Body20",
        "required": [
          "balanceQuery"
        ],
        "type": "object",
        "properties": {
          "balanceQuery": {
            "allOf": [
              {
                "$ref": "#/components/schemas/balanceQuery"
              },
              {
                "xml": {
                  "name": "balanceQuery",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "balanceQuery": {
        "title": "balanceQuery",
        "required": [
          "balanceQueryRequest"
        ],
        "type": "object",
        "properties": {
          "balanceQueryRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/balanceQueryRequest"
              },
              {
                "xml": {
                  "name": "balanceQueryRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "balanceQuery",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "balanceQueryRequest": {
        "title": "balanceQueryRequest",
        "required": [
          "resellerID",
          "apiKey"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "balanceQueryRequest",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope21": {
        "title": "Envelope21",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body21"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body21": {
        "title": "Body21",
        "required": [
          "balanceQueryResponse"
        ],
        "type": "object",
        "properties": {
          "balanceQueryResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/balanceQueryResponse"
              },
              {
                "xml": {
                  "name": "balanceQueryResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "balanceQueryResponse": {
        "title": "balanceQueryResponse",
        "required": [
          "balanceQueryResponse"
        ],
        "type": "object",
        "properties": {
          "balanceQueryResponse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/balanceQueryResponse1"
              },
              {
                "xml": {
                  "name": "balanceQueryResponse",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "balanceQueryResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "balanceQueryResponse1": {
        "title": "balanceQueryResponse1",
        "required": [
          "statusCode",
          "reason",
          "balance",
          "status",
          "errorMessage"
        ],
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "contentEncoding": "int32",
            "xml": {
              "name": "statusCode",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "reason": {
            "type": "string",
            "xml": {
              "name": "reason",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "balance": {
            "type": "string",
            "xml": {
              "name": "balance",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "status": {
            "type": "string",
            "xml": {
              "name": "status",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "errorMessage": {
            "type": "string",
            "xml": {
              "name": "errorMessage",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "balanceQueryResponse",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope22": {
        "title": "Envelope22",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body22"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body22": {
        "title": "Body22",
        "required": [
          "listAvailableDomainExtensions"
        ],
        "type": "object",
        "properties": {
          "listAvailableDomainExtensions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/listAvailableDomainExtensions"
              },
              {
                "xml": {
                  "name": "listAvailableDomainExtensions",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "listAvailableDomainExtensions": {
        "title": "listAvailableDomainExtensions",
        "required": [
          "listAvailableDomainExtensionsRequest"
        ],
        "type": "object",
        "properties": {
          "listAvailableDomainExtensionsRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/listAvailableDomainExtensionsRequest"
              },
              {
                "xml": {
                  "name": "listAvailableDomainExtensionsRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "listAvailableDomainExtensions",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "listAvailableDomainExtensionsRequest": {
        "title": "listAvailableDomainExtensionsRequest",
        "required": [
          "resellerID",
          "apiKey"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "listAvailableDomainExtensionsRequest",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope23": {
        "title": "Envelope23",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body23"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body23": {
        "title": "Body23",
        "required": [
          "getDomainEligibilityFields"
        ],
        "type": "object",
        "properties": {
          "getDomainEligibilityFields": {
            "allOf": [
              {
                "$ref": "#/components/schemas/getDomainEligibilityFields"
              },
              {
                "xml": {
                  "name": "getDomainEligibilityFields",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "getDomainEligibilityFields": {
        "title": "getDomainEligibilityFields",
        "required": [
          "getDomainEligibilityFieldsRequest"
        ],
        "type": "object",
        "properties": {
          "getDomainEligibilityFieldsRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/getDomainEligibilityFieldsRequest"
              },
              {
                "xml": {
                  "name": "getDomainEligibilityFieldsRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "getDomainEligibilityFields",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "getDomainEligibilityFieldsRequest": {
        "title": "getDomainEligibilityFieldsRequest",
        "required": [
          "resellerID",
          "apiKey",
          "extension"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "extension": {
            "type": "string",
            "xml": {
              "name": "extension",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          }
        },
        "xml": {
          "name": "getDomainEligibilityFieldsRequest",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "Envelope24": {
        "title": "Envelope24",
        "required": [
          "Body"
        ],
        "type": "object",
        "properties": {
          "Body": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Body24"
              },
              {
                "xml": {
                  "name": "Body",
                  "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
                  "prefix": "soap",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Envelope",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "Body24": {
        "title": "Body24",
        "required": [
          "generateAuEligibility"
        ],
        "type": "object",
        "properties": {
          "generateAuEligibility": {
            "allOf": [
              {
                "$ref": "#/components/schemas/generateAuEligibility"
              },
              {
                "xml": {
                  "name": "generateAuEligibility",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "Body",
          "namespace": "http://schemas.xmlsoap.org/soap/envelope/",
          "prefix": "soap",
          "attribute": false,
          "wrapped": false
        }
      },
      "generateAuEligibility": {
        "title": "generateAuEligibility",
        "required": [
          "generateAuEligibilityRequest"
        ],
        "type": "object",
        "properties": {
          "generateAuEligibilityRequest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/generateAuEligibilityRequest"
              },
              {
                "xml": {
                  "name": "generateAuEligibilityRequest",
                  "namespace": "",
                  "attribute": false,
                  "wrapped": false
                }
              }
            ]
          }
        },
        "xml": {
          "name": "generateAuEligibility",
          "namespace": "",
          "attribute": false,
          "wrapped": false
        }
      },
      "generateAuEligibilityRequest": {
        "title": "generateAuEligibilityRequest",
        "required": [
          "resellerID",
          "apiKey",
          "registrationIdentifier",
          "type"
        ],
        "type": "object",
        "properties": {
          "resellerID": {
            "type": "string",
            "xml": {
              "name": "resellerID",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "apiKey": {
            "type": "string",
            "xml": {
              "name": "apiKey",
              "namespace": "",
              "attribute": false,
              "wrapped": false
            }
          },
          "registrationIdentifier": {
            "type": "string",
            "xml": {
              "name": "registrationIdentifier",
              "namespace": "",
              "attribute": false,
[...]
